@font-face {
    font-family: 'Sans';
    src: url('../fonts/FreeSansOblique.woff2') format('woff2'),
        url('../fonts/FreeSansOblique.woff') format('woff'),
        url('../fonts/FreeSansOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sans';
    src: url('../fonts/FreeSansBold.woff2') format('woff2'),
        url('../fonts/FreeSansBold.woff') format('woff'),
        url('../fonts/FreeSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'thin';
    src: url('../fonts/PragmaticaExtraLight-Reg.woff2') format('woff2'),
        url('../fonts/PragmaticaExtraLight-Reg.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

